
@model IEnumerable<BookApplication.Models.Cart>

@{
    ViewBag.Title = "Cart";
}
<style>
    .blue {
        color: steelblue !important;
    }
</style>

<h2 class="blue">Your Cart</h2>
<br />


<table class="table">
    <tr>
        
        <th>

            @Html.DisplayNameFor(model => model.bookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.bookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.bookID })
            </td>
        </tr>
    }
</table>
