@model BookApplication.Models.Book
@using BookApplication.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this book?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Somewhat redundant since I am not using an actual error image but will leave it in 
             case I decide to add one later on -->
        @if (Model.Cover.Any(f => f.FileType == FileType.BookCover))
        {
            if (Model.Cover.Any(f => f.Approved == false))
            {
                <dt>Book Cover</dt>
                <dd>
                    <img src="../../content/notapproved.png"
                         alt="Image Not Approved" style="width:30%;" />
                </dd>
            }
            else
            {
                <dt>Book Cover</dt>
                <dd>
                    <img src="~/File?id=@Model.Cover.Last(f => f.FileType == FileType.BookCover).FileID"
                         alt="book cover" style="width:30%;" />
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
