@model BookApplication.Models.Book
@using BookApplication.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Cover.Any(f => f.FileType == FileType.BookCover))
        {
            if (Model.Cover.Any(f => f.Approved == false))
            {
                <dt>Book Cover</dt>
                <dd>
                    <img src="../../content/notapproved.png"
                         alt="Image Not Approved" style="width:30%;" />
                </dd>
            }
            else
            {
                <dt>Book Cover</dt>
                <dd>
                    <img src="~/File?id=@Model.Cover.Last(f => f.FileType == FileType.BookCover).FileID"
                         alt="book cover" style="width:30%;" />
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
